.ant-picker-calendar-header{
    background: linear-gradient(90deg, #5082ED 0%, #9A72CB 27%, #B86DA2 63%, #D96570 100%);
    justify-content: flex-start !important;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    padding: 10px 10px !important;
    align-items: center;
}

/* .ant-picker-calendar-year-select:not(.ant-radio-button-wrapper:first-child):is(.ant-radio-button-wrapper-checked){
    margin-right: 45rem !important;
} */

/* .ant-picker-calendar-month-select{
    margin-right: 35rem !important;
} */

.ant-picker-calendar-header .ant-select-selector {
    border: none !important;
    background: none !important;
    color: white !important;
}

.ant-picker-calendar-header .ant-select-arrow{
    color: white !important;
}

.ant-picker-calendar-header .ant-picker-calendar-month-select{
    margin-inline-end: 0px !important;
}

.ant-picker-calendar-mode-switch {
    margin-inline-start: 0px !important;
}

.ant-picker-calendar-header .ant-select {
    padding: 0px 10px !important;
}

.ant-picker-calendar-header .ant-radio-group {
    padding: 5px 15px !important;
}

.ant-picker-calendar-header .ant-radio-group-outline{
    background: #F3F4F6 !important;
    border-radius: 20px !important;
}

.ant-picker-calendar .ant-radio-button-wrapper:nth-child(1):not(.ant-radio-button-wrapper-disabled){
    margin-right: 30rem;
}

.ant-picker-calendar .ant-radio-button-wrapper:nth-child(1):not(.ant-radio-button-wrapper-disabled){
    margin-right: 1rem;
}

.ant-picker-calendar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled){
    border: none;
}

.ant-picker-calendar .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    color: transparent !important;
    background: linear-gradient(90deg, #5082ED 0%, #9A72CB 27%, #B86DA2 63%, #D96570 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-weight: 600 !important;
}

.ant-picker-calendar .ant-radio-button-checked {
    border-radius: 15px !important;
}

.ant-picker-calendar .ant-radio-button-wrapper{
    color: #616262 !important;
    background: none !important;
}

.ant-picker-calendar .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: transparent !important;
}

.ant-picker-calendar-date {
    background: none !important;
}

/* Content */
.ant-picker-panel {
    background: none !important;
    text-align: center !important;
}

.ant-picker-calendar-date-value {
    text-align: end !important;
}

.ant-picker-content{
    border-collapse: separate !important;
    border-spacing: 1rem !important;
}

.ant-picker-cell {
    position: relative;
    color: black !important;
    background: linear-gradient(90deg, #5082ED 0%, #9A72CB 27%, #B86DA2 63%, #D96570 100%) !important;
    /* -webkit-background-clip: text !important;
    -webkit-text-fill-color: black; */
    padding: 12px 18px;
    border-radius: 20px;
}

.ant-picker-cell-inner {
    padding: 10px 8px;
    background: white !important;
    border-radius: 18px;
    margin: 0.2rem !important;
}

.ant-picker-calendar-date{
    height: 100% !important;
    /* background: white !important; */
    border-radius: 15px !important;
    border-top: none !important;
}

.ant-picker-calendar-date-content {
    padding: 10px 5px !important;
    line-height: 0 !important;
    height: 25rem !important;
    width: 12rem !important; 
}

.ant-picker-content td:not(:has(li)){
    display: none !important;
}

.ant-picker-calendar-date-content ul{
    list-style-type: none !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    padding-inline-start: 0 !important;
}

.ant-badge.ant-badge-status{
    line-height: 1 !important;
}

.ant-badge-status-dot{
    display: inline !important;
}

.ant-badge-status-tex{
    margin-inline-start: 0 !important;
}