@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../../node_modules/react-credit-cards-2/dist/es/styles-compiled.css);

:root {
  --max-width: 1100px;
}

html,
body {
  margin: 0;
  background: #F7F8FC !important;
}

/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

.unauth-gradient-purple {
  width: 30%;
  height: 30%;
  top: -50px;
  left: -130px;
  background: radial-gradient(circle, rgba(154, 114, 203, 0.54) 54%, rgba(154, 114, 203, 0.44) 44%, rgba(154, 114, 203, 0.34) 34%, rgba(154, 114, 203, 0.24) 24%, rgba(154, 114, 203, 0) 0%);
  filter: blur(90.17px);
  position: absolute;
}

.unauth-gradient-blue {
  position: absolute;
  width: 20%;
  height: 10%;
  filter: blur(110px);
  bottom: 0px;
  left: 40%;
  background: radial-gradient(circle, #5082ED 54%, #5082ED 44%, #5082ED 34%, #5082ED 24%, #5082ED 0%);
}

.ant-radio-group-outline{
  border-radius: 0.5rem !important;
  background: #FFFFFF;
}

.ant-radio-button-checked{
  background-color: transparent !important;
  box-shadow: 0px 1px 4px 0px #9972CB;
  border-color: white !important;
}

.ant-card {
  box-shadow: 7px 7px 9px 0px rgba(51, 86, 201, 0.1) !important;
}


.needle {
  display: none;
}

/* Tab */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: black !important;
}

/* Button */
.ant-btn-primary{
  background: #343434 !important;
  /* padding: 1.5rem 0 !important; */
}

.ant-btn:hover{
  color: #b3aaaa !important;
}

/* Form fields */
.ant-input-affix-wrapper{
  border-radius: 10px !important;
  padding: 10px !important;
}

.ant-input-outlined{
  border-color: #66666679 !important;
}

.ant-input-outlined:focus-within{
  border-color: white !important;
  box-shadow: 0px 1px 4px 0px #957bb9 !important;
}

/* Error */
.ant-form-item-explain-error {
  font-family: "Poppins", sans-serif !important;
  /* color: #ff4d4f; -> current */
}

/* Textarea */
.ant-input-data-count{
  bottom: -3px !important;
}

/* Views */

body {
  font-family: "Poppins", sans-serif !important;
}

.ant-input {
  font-family: "Poppins", sans-serif !important;
}

.ant-typography {
  font-family: "Poppins", sans-serif !important;
}

.ant-col {
  font-family: "Poppins", sans-serif !important;
}

.ant-btn {
  font-family: "Poppins", sans-serif !important;
}

.ant-checkbox-wrapper {
  font-family: "Poppins", sans-serif !important;
}

.ant-drawer {
  font-family: "Poppins", sans-serif !important;
}

.ant-carousel {
  font-family: "Poppins", sans-serif !important;
}

.ant-select {
  font-family: "Poppins", sans-serif !important;
}

.ant-picker-calendar {
  font-family: "Poppins", sans-serif !important;
}

.ant-radio-button-wrapper span {
  font-family: "Poppins", sans-serif !important;
}

.ant-badge {
  font-family: "Poppins", sans-serif !important;
}

.ant-table {
  font-family: "Poppins", sans-serif !important;
}

.ant-tabs {
  /* font-family: "Poppins", sans-serif !important; */
}

.ant-tabs-tabpane.ant-tabs-tabpane-active{
  color: black !important;
}


input {
  font-family: "Poppins", sans-serif !important;
}

/* Stepper */
.ant-steps {
  font-family: "Poppins", sans-serif !important;
}

.ant-steps-item-icon.ant-steps-icon {
  transition: all 0.3s !important;
}

.ant-steps-item-tail {
  width: 97% !important;
  top: 23px !important;
  margin-inline-start: 80px !important;
}

.ant-steps-item-title {
  padding-inline-start: 20px !important;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: none !important;
  background: linear-gradient(90deg, #5082ED 0%, #9A72CB 27%, #B86DA2 63%, #D96570 100%) !important;
}

/* Text */
.gradient-text {
  font-size: 2rem;
  font-weight: 500;
  background: linear-gradient(90deg, #5082ED 0%, #9A72CB 27%, #B86DA2 63%, #D96570 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-btn {
  background: linear-gradient(90deg, #5082ED 0%, #9A72CB 27%, #B86DA2 63%, #D96570 100%) !important;
  color: white !important;
  border-radius: 20px !important;
}

.gradient-btn:hover {
  color: rgb(236, 235, 235) !important;
}

.text-bold {
  font-weight: 500 !important;
}

.text-mute {
  color: #797878 !important;
}

/* Card Component */
.rccs__card--unknown > div {
  background: linear-gradient(90deg, #5082ED 0%, #9A72CB 27%, #B86DA2 63%, #D96570 100%) !important; 
}

/* Carousel */
:where(.css-dev-only-do-not-override-42nv3w).ant-carousel .slick-dots-bottom {
  bottom: -15px !important;
}

.slick-dots li button {
  /* background: linear-gradient(90deg, #5082ED 0%, #9A72CB 27%, #B86DA2 63%, #D96570 100%) !important; */
  background: #343434 !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

/* Toggle Switch */
.ant-switch.ant-switch-checked{
  background: #343434 !important;
}

input[type='file'] {
  color: transparent;
  /* visibility: hidden; */
}

.ant-image-mask {
  margin-top: 2rem !important;
  border-radius: 15px !important;
}

/* Components */
@import url(../components/layouts/unauthLayout/unauthForm/index.css);
@import url(../components/layouts/authLayout/navbar/index.css);
@import url(../components/mainTabs/contentCalendar/index.css);
@import url(../components/imageCarousel/index.css);
@import url(../components/textWithGradientBorder/index.css);
@import url(../components/mainTabs/schedulerHub/index.css);
@import url(../components/assistantButton/index.css);
@import url(../components/integrationCard/index.css);
@import url(../components/mainTabs/subscriptions/index.css);
@import url(../components/influencerCampaign/index.css);
@import url(../components/postDetails/index.css);